/* Variables */
:root {
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;
  --font-letter-spacing: 1.25px;

  --color-background: #2a2a2a;
  --color-surface: #1c1c1c;
  --color-text-primary: #fff;
  --color-border-primary: #686868;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  text-align: left;
}

.subtitle {
  font-size: var(--font-size-large);
  font-weight: 500;
  text-align: left;
}

.image-area {
  display: flex;

  .logo-description {
    padding: 20px;
    border: 1px solid var(--color-border-primary);
    flex-grow: 1;
    text-align: left;
    font-size: var(--font-size-normal);
  }

  .logo-wrapper {
    width: 200px;
    padding: 20px;
    border: 1px solid var(--color-border-primary);
    flex-shrink: 0;
    margin-right: 20px;

    .logo {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      animation: spin infinite 15s linear;
    }
  }
}

.primary-button {
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-surface);
  padding: 10px 16px;
  text-align: left;
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: var(--font-size-normal);
}

.list {
  .list-item {
    border: 1px solid var(--color-border-primary);
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: var(--font-size-normal);

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .list-action {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: 0;
    color: var(--color-text-primary);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.settings-button {
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
