/* Variables */
:root {
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;
  --font-letter-spacing: 1.25px;

  --color-background: #1c1c1c;
  --color-text-primary: #fff;
  --color-border-primary: #686868;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  text-align: left;
}

.subtitle {
  font-size: var(--font-size-large);
  font-weight: 500;
  text-align: left;
}

.image-area {
  display: flex;

  .logo-description {
    padding: 20px;
    border: 1px solid var(--color-border-primary);
    flex-grow: 1;
    text-align: left;
  }

  .logo-wrapper {
    width: 200px;
    padding: 20px;
    border: 1px solid var(--color-border-primary);
    flex-shrink: 0;
    margin-right: 20px;

    .logo {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      animation: spin infinite 15s linear;
    }
  }
}
